For Java-Database connectivity, add MySQL Connector v8.0.33 in your Maven file. For email integration, include JavaMail API v1.6.2. Strictly follow these versions for seamless project execution.
🔗 Visit the website for MySQL connector: https://mvnrepository.com/artifact/mysql/mysql-connector-java/8.0.33
🔗 Visit the website for JavaMail API: https://mvnrepository.com/artifact/com.sun.mail/javax.mail/1.6.2
